<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">About</h1>
</div>

<img src="https://cdn.pixabay.com/photo/2015/02/24/15/41/wolf-647528_1280.jpg" alt="Laptop" width="473" height="316">
<img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_1280.jpg" alt="Laptop" width="473" height="316">
<!-- <img src="img/125.jpg" alt="Laptop" width="473" height="316"> -->
<p>Photo by Garrett Sears on Unsplash</p>

<div class="pt-3">
    <p>This is a simple user management system developed as part of a YouTube tutorial I learned</p>
    <p>Check out my <a href="https://youtube.com/raddydev">YouTube Channel</a> and support by subscribing!</p>
</div>